<a href="https://colab.research.google.com/github/myhappy1/-test/blob/main/ch1_%EB%B3%80%EC%88%98%EC%99%80%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

학습목표

In [ ]:
1.python 언어에서 변수의 의미를 이해하기
2. 기본 데이터 타입을 선언하기 (int, float, str, bool)

### **= 대입연산자**
* 대입의 경우, 오른쪽의 수식이나 값을 계산한 뒤, 
왼쪽으로 변수에 값을 대입
* 변수는 해당 값을 가지게 된다.

In [ ]:
a = 10 #int
b = 11.4 #float

In [ ]:
print(a)

10

## **주석(Comment) **
* 코드에서 $으로 시작하는 두시부분은 실행 안함
* python이 실행할 때 #만나면 무시
*개발자(사람)이 보기 위한 용도로 사용

In [ ]:
#this line is important
#so don't delete those lines 

math = 11 
english = 57.8

### **print 함수**
* 함수란 특정 기능을 반복적으로 호출하여 사용가능한 코드블럭
* 해당 변수 값이 출력 
* ,로 여러 변수를 나열하면 한주레 출력
* 기본적으로는 한칸 띄어쓰기 후 출

### **변수 값 확인 방법**
1. print() 함수 사용
2. 변수 값을 코드의 마지막에 위치 시킨 후 실행
 - 이 경우 output으로 변수의 값이 출력된다.

In [ ]:
math 
english

57.8

In [ ]:
english 
math

11

### **변수 이름 규칙**

* 숫자로 시작하는 이름을 제외하고 양문 대소문자, _, 숫자로 구성 가능
 - 숫자로 시작은 안된다!
* 일반적으로 변수를 표현할 때 정확하고 간결한 이름을 사용하여 쉽게 이해하도록 설정한다.
 - 예) a = 900 경우보다, hy_student_num = 900 으로 명시하는 것이 이해가 빠르다.

In [ ]:
abAB = 100
#4_num = 10 #숫자로 시작하여 실행안됨
ABab = 200
_right = 800

### ** 예약어(키워드)**
* python에서 미리 선점하여 사용중인 키워드
* 변수, 함수, 클래스 등 사용자 정의 이름으로 사용할 수 없음

In [ ]:
#for = 10 # for은 예약어로 변수 사용 불가
_for = 10
_for

10

### **기본 데이터 타입 **
* 정수(int)
* 실수(float)
* 문자열(str)
* 불리언(boolean)

In [1]:
a = 10 #정수형(int)
b = 15.6 #실수형(float)
c = "2학기 회장은 세준이" #문자형(str)
d = a > b #불리언(boolean)

print(a,b,c,d)

10 15.6 2학기 회장은 세준이 False

### type() 함수 
 해당 변수, 값의 타입(type)을 알고자할 때 사용하는 함수

In [2]:
print(type(a), type(b), type(c), type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

### **타입 None**

* 아무런 값을 갖지 않을 때 사용
* 일반적으로 변수가 초깃값을 갖지 않게 하여 해당 변수를 생성할 때 사용
* 다른 언어에서는 NULL과 같은 의미로 사용

In [4]:
null = None
print(null)

None

### **비교 연산자**
- 프로그래밍에서는 '='이게 아니라, ==를 사용
- 예) 2학기 회장 == 상록 #잠
- 작다, 크다 (>,<) 
- 작거나 같다, 크거나 같다(=>, <=)
- 같다 (==)
- 같지 않다(!=)
 - 예) 2학기 회장 != #거짓
- 결론적으로 비교 연산자 결과는 bool 타입으로 출력

In [7]:
ss = 76100
nv = 434000

print(ss>nv)
print(nv>ss)
print(nv<=ss)
print(nv>=ss)

print(nv==ss)
print(nv!=ss)

False
True
False
True
False
True

### **기본 연산자**

In [9]:
print(ss+nv)
print(ss-nv)

print(ss*nv)
print(ss/nv)

print(nv%ss)

a= 3 
b= 2

print(a ** b)

510100
-357900
33027400000
0.17534562211981566
53500
9

**연산자 우선순위**

- 기본적으로 수학의 연산자와 동일
- 내가 연산을 위해서 괄호()를 사

In [11]:
a= 5
b= 4
print(a+b*50)
print((a+b)*50)

205
450