<a href="https://colab.research.google.com/github/myhappy1/-test/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%83%80%EC%9E%85(dict%2Cset).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **학습목표**
- dictionary, set에 대해 이해하기

**Dictionary**
- 키와 값을 갖는 데이터 구조 
- 키는 내부적으로 hash 값으로 저장
- 순서를 따지지 않음.

In [ ]:
a = {'Korea' : 'Seoul',
     'Canada': 'Ottawa',
     'USA': 'Washington D.C'}
b = {0:1, 1:6, 7:9, 8:10}

print(a)
print(a['Korea'])
#print(a["japan"])

print(b[1])
print(b[0])

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C'}
Seoul
6
1

**항목 추가 및 변경**
- 기존에 키가 존재하면, 새로운 값으로 업데이트 
- 기존에 키가 없다면, 새로운 키값으로 생성

In [ ]:
a['japan'] = 'Tokyo'
print(a)
a['japan'] = 'Osaka'
print(a)
a['China'] = 'Beijng'
print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C', 'japan': 'Tokyo'}
{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C', 'japan': 'Osaka'}
{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C', 'japan': 'Osaka', 'China': 'Beijng'}

- updata()
 - 두 딕셔너리를 병합
 - 겹치는 키가 있다면, 전달되는 값이 업데이트된다.

In [ ]:
a = {'a':'apple', 'b' :'banana', 'c' : 'car'}
b = {"b": "bus", 'c':'caramel', "d":"dynamite", 'e':'education'}

print(a)
a.update(b) # a와 b병합
print(a)

{'a': 'apple', 'b': 'bus', 'c': 'caramel', 'd': 'dynamite', 'e': 'education'}

**key삭제**
- del 키워드
- pop 함수 이용

In [ ]:
a= {'a':1, 'b':2, 'c': 3 }
print(a)

del a['a']
print(a)

c= a.pop('b')
print(c)

{'a': 1, 'b': 2, 'c': 3}
{'b': 2, 'c': 3}
2

**clear()**
- 딕셔너리 값을 모두 초기화

In [ ]:
a= {'a':1, 'b':2, 'c':3}
a['add'] = 4
print(a)
a.clear()
print(a)

{'a': 1, 'b': 2, 'c': 3, 'add': 4}
{}

**in**
- key값의 존재를 확인

In [ ]:
a= {'a':1, 'b':2, 'c':3}
print(2 in a)
print('a' in a)

False
True

- dict [key]로 접근, 키가 존재하지 않을 경우 
에러
- .get()함수로 접근해서 키가 없는 경우에도 프로그램을 실행 - > None

In [ ]:
a= {'a':1, 'b':2, 'c':3}
print(a['a'])
print(a.get('d'))

1
None

**모든 key와 값에 접근**

- key() : 키만 반환
- values() : 값만 반환
- items() : 키와 값의 튜플을 반환

In [40]:
a= {'a':1, 'b':2, 'c':3}
print(a)
print(list(a.keys()))
print(list(a.values()))
print(list(a.items()))

{'a': 1, 'b': 2, 'c': 3}
['a', 'b', 'c']
[1, 2, 3]
[('a', 1), ('b', 2), ('c', 3)]

### **Set**
- dictionary에서 key만 활용한 데이터구조
- 중복이 허용되지 않는 구조

In [42]:
a = {5,2,3,2,6,4,1,2,3,3}
print(a)

{1, 2, 3, 4, 5, 6}

In [47]:
#리스트를 Set으로 변경 
a = [5,2,3,2,6,4,1,2,3,3]
print(a)

b = set(a)
print(b)

[5, 2, 3, 2, 6, 4, 1, 2, 3, 3]
{1, 2, 3, 4, 5, 6}

In [50]:
a= {1,2,3}
b = {2,3,4}

c = a.union #합집합
print(c)
d = a.intersection(b) #교집합
print(d)
e = a.difference(b)# A-B 차집합
print(e)

<built-in method union of set object at 0x7fdfa6951aa0>
{2, 3}
{1}