<a href="https://colab.research.google.com/github/myhappy1/-test/blob/main/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC_%ED%8B%80%EB%A6%B0%EA%B1%B0_%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#5. 문자열 인덱싱
s = "Hellp Hanyang!"
print(s[5], s[-5])

  y

In [2]:
#8. 파이썬 자료형
#리스트,튜플,딕셔너리,셋

In [3]:
#9. 리스트
a = ['a',1,'python',(1,2),'2',[1,2]]
print(a[3])
print(1 in a, 2 in a)

(1, 2)
True False

In [4]:
#10. 파이썬 코드
nums = list(range(4))
print(nums)
nums.insert(3,100)
print(nums)

[0, 1, 2, 3]
[0, 1, 2, 100, 3]

In [5]:
#12. 딕셔너리 
a = {'han':1, 1:2, '1':3}
a[1] = 'yang'
print(a)

{'han': 1, 1: 'yang', '1': 3}

In [6]:
#13. 셋
b = set('Hello')
print(b)

{'H', 'e', 'l', 'o'}

In [7]:
#15. 
room = [[0,0,1,0,9],
       [1,0,1,0,1],
       [0,1,1,1,9]]
mouse = room[0][2]

if mouse == 1:
  print("cheese")
elif mouse == 0:
  print("trap")
else : 
  print(nothing)

cheese

In [8]:
#17. 
a = 0
b = 0

for i in range(3,9):
  if i%2 == 0 and i%3 == 0:
    continue
  elif i%2 == 0:
    a += 1
  elif i%3 == 0:
    b += 1
print(a,b)

2 1

In [9]:
#19. 
print("메뉴번호 1.쿠키(300원) 2.짬뽕(500) 3.치킨(700)")

money = int(input("투입금액:"))
menu = int(input("메뉴번호:"))

if menu == 1:
  money -= 300
elif menu == 2:
  money -= 500
elif menu == 3:
  money -= 700


if money < 0:
  print("금액이 부족합니다.")
else :
  won1000 = money//1000
  won500 = (money%1000)//500
  won100 = ((money%1000)%500)//100
  print("거스름돈: 1000원 {}개, 500원 {}개, 100원 {}개".format(won1000,won500,won100))

메뉴번호 1.쿠키(300원) 2.짬뽕(500) 3.치킨(700)
투입금액:2
메뉴번호:2
금액이 부족합니다.